body{
    background-color: white;
}
#selectbooking{
    display: flex;
    height: 10vh;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
}

#selectbooking>button{
    width: 30%;
    height: 80%;
    border-radius: 2em;
    border: 2px solid #f74d4d;
    background-color: white;
    font-size: 1.2rem;
    color: #f74d4d;
    transition: background-color 0.3s ease-out;
}

#selectbooking>button:hover{
    background-color: #f74d4d;
    color: white;
    transition: background-color 0.3s ease-out;
    cursor: pointer;
}


#bookingsdiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 5vh; */
}
.dynamichotelcard{
    width: 80%;
    height: 30vh;
    position: relative;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}
.dynamichotelcard::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    border-bottom: 1px solid rgb(192, 191, 191); /* Style the faint line */
    transform: translateX(-50%);
}
.dynamichotelcard>img{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 25%;
    height: 90%;
    border-radius: 1em;
}
.dynamichotelcard>h2{
    position: absolute;
    top: 10%;
    left: 35%;
    font-size: 2rem;
    font-weight: 500;
}
.dynamichotelcard>p:nth-child(3){
    position: absolute;
    top: 30%;
    left: 35%;
}
.dynamichotelcard>p:nth-child(4){
    position: absolute;
    top: 70%;
    left: 35%;
}
.dynamichotelcard>p:nth-child(5){
    position: absolute;
    top: 40%;
    right: 20%;
    color: #f74d4d;
    font-size: 1.8rem;
}
.dynamichotelcard>p:nth-child(6){
    position: absolute;
    top: 55%;
    right: 20%;
    color: green;
}
.dynamichotelcard>button{
    width: 10%;
    height: 20%;
    background-color: #f74d4d;
    color: white;
    border: 1px solid #f74d4d;
    position: absolute;
    top: 70%;
    right: 20%;
    border-radius: 1em;
    font-size: 1rem;
    transition: background-color 0.3s ease-out;
}
.dynamichotelcard>button:hover{
    background-color: white;
    color: #f74d4d;
    transition: background-color 0.3s ease-out;
    cursor: pointer;
}




/* Footer  */



.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	/* flex-wrap: wrap; */
}
ul{
	list-style: none;
}
.footer{
	background-color: #2a3348;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}

.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}

.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #ffffff;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.app img{
    width: 200px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}

@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}