/* @import url('https://fonts.googleapis.com/css2?family=GT Walsheim:wght@300;400;500;600;700&display=swap'); */
@font-face {
    font-family: GT Walsheim Pro;
    src: local("GT Walsheim Pro Regular"),local("GTWalsheimProRegular"),url(GTWalsheimProRegular.woff2) format("woff2"),url(GTWalsheimProRegular.woff) format("woff"),url(GTWalsheimProRegular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
  }
  
  @font-face {
    font-family: GT Walsheim Pro;
    src: local("GT Walsheim Pro Bold"),local("GTWalsheimProBold"),url(GTWalsheimProBold.woff2) format("woff2"),url(GTWalsheimProBold.woff) format("woff"),url(GTWalsheimProBold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal
  }

body{
	line-height: 1.5;
	/* font-family: 'GT Walsheim'; */
    font-family: GT Walsheim Pro;
}

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}


.back {
    width: 100%;
    height: 600px;
    background-image: url(https://hotelcard-files.ams3.cdn.digitaloceanspaces.com/media%2Fheaderimages%2Fhomepage-banner.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-bottom: 40px;
}


.mid h1{
    font-size:2.5rem;
    font-weight: normal;
    text-align: center;
    margin: 40px;
}

.nexttrip {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-left: 70px;  
}

.nexttrip img{
    border-radius: 20px;
}

.break{
    gap:50px;
    
}

.reviews{
    margin: 60px;
}

.reviews h1{
    font-size: 2.5 rem;
    font-weight: normal;
    text-align: center;
}

/* .reviews {
    
} */
.sub{
    display: flex;
    padding: 20px;
}


.sub h5,p{
    text-align: justify;
    padding: 10px;
}

.sub h5{
    font-size: 1rem;
}

.sub > div{
    border: 2px solid lightgrey;
     margin-left: 15px;
}


 .name{
    display: flex;
    align-items: center;
    justify-content: center;
    /* grid-template-columns: repeat(2,1fr); */
}

.break img {
    padding:3px;
    
}

.backimg>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: rgb(250, 250, 250);
}

.backimg {
    height: 140px;

}

.backimg > div {
    padding: 220px;

}

.backimg>div>h1 {
    font-size: 4rem;
    font-weight: bold;
    color: white;
}
.backimg>div>h3 {
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.box{
    margin-top: 270px;
}

.box form{
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    gap: 1rem;
    /* position: absolute; */
    bottom: 4rem;
    left: 100px;
    background-color: #ffffff6e;
    padding: 20px;
    border-radius: 0.5rem;
    width: 50%;
    margin-left: 330px;
    margin-top: 50px;
}

.input-box{
    flex: 1 1 7rem;
    display: flex;
    flex-direction: column;
}
.input-box span{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}
.input-box input{
    padding: 7px;
    outline: none;
    border: none;
    background: white;
    border-radius: 0.5rem;
    font-size: 1rem;
}


.box form .btn{
    flex: 1 1 7rem;
    padding: 10px 34px;
    margin-top: 34px;
    border: none;
    border-radius: 0.5rem;
    background: #474fa0;
    background: rgb(241, 53, 53);
    font-size: 1rem;
    font-weight: 500;
    color: white;
}

/*           main css         */

.main {
    display: flex;
    /* border: 1px solid black; */
    justify-content: space-between;
    width: 95%;
    margin: auto;
    margin-top: 100px;
}

.main .div1 {
    width: 20%;
    /* border: 1px solid black; */
    text-align: start;
}

.main .div1 button {
    margin-top: 20px;
    font-size: 15px;
    background-color: red;
    color: white;
    padding: 5px;
}

.main .div2 {
    width: 70%;
    /* border: 1px solid black; */
}

.div2 p {
    width: 75%;
    margin-bottom: 20px;
}

.main .div2 .inner-div {
    display: flex;
}

.inner-div>div {
    /* border: 1px solid red; */
    width: 30%;
    text-align: center;
    margin: auto;

}

.inner-div1,
.inner-div2,
.inner-div3 {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}


.top-offers{
    text-align: center;
}
.top-offers>div{
    border-radius: 20px;
}
.top-offers>div img{
    border-radius: 20px;
}

.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	/* flex-wrap: wrap; */
}
ul{
	list-style: none;
}




.footer{
	background-color: #2a3348;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}

.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}

.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #ffffff;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.app img{
    width: 200px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}

@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}